.upload-cta {
    display: inline-table;
    height: 300px;
    width: 300px;
    cursor: pointer;
    padding-top: 36px;
    line-height: 17px;
    border: solid 2px black;
    background: #eaeaea;
    font-size: .9em;
}
.upload-cta.upload-preview {
    background-size: cover !important;
    text-indent: -9000px;
    border-style: solid;
}



input[type=file] {
    margin-bottom: 20px;
}


